<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <context-param>
        <description>For payment manifest creation</description>
        <param-name>host_path</param-name>
        <param-value>@host-path@</param-value>
    </context-param>

    <listener>
        <listener-class>org.webpki.webapp.androidpaymentappauthority.PaymentAppAuthorityService</listener-class>
    </listener>

    <servlet>
        <servlet-name>PaymentAppAuthorityServlet</servlet-name>
        <servlet-class>org.webpki.webapp.androidpaymentappauthority.PaymentAppAuthorityServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PaymentManifestServlet</servlet-name>
        <servlet-class>org.webpki.webapp.androidpaymentappauthority.PaymentManifestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AppManifestServlet</servlet-name>
        <servlet-class>org.webpki.webapp.androidpaymentappauthority.AppManifestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentAppAuthorityServlet</servlet-name>
        <url-pattern>/authority</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PaymentManifestServlet</servlet-name>
        <url-pattern>/payment-manifest.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AppManifestServlet</servlet-name>
        <url-pattern>/app-manifest.json</url-pattern>
    </servlet-mapping>

    <security-constraint>
      <web-resource-collection>
        <web-resource-name>The app</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

</web-app>
